@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    --Bright-Blue: rgb(48, 101, 248);
    --Moderate-Cyan: rgb(60, 159, 143);
    --Light-Grayish-Blue: rgb(246, 246, 254);
    --Light-Gray: hsl(0, 0%, 75%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 18px;
}

h1 {
    font-family: 'raleway', sans-serif;
    color: var(--Very-Dark-Blue);
}

p {
    font-family: 'open sans', sans-serif;
    color: var(--Very-Dark-Blue);
}

.h-mcontent {
    display: flex;
    flex-flow: column;
    gap: 6em;
}


/* Start Header Style */

header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "hd hd" "hero img1";
    row-gap: 3.5em;
    padding: 4em;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    grid-area: hd;
}

.nav-bar ul {
    display: flex;
    gap: 3em;
    list-style: none;
}

.nav-bar ul a:hover {
    text-decoration: underline;
}

.nav-bar a {
    font-family: 'open sans', sans-serif;
    text-decoration: none;
    font-size: 1em;
    color: var(--Desaturated-Blue);
}

.illustration {
    width: 90%;
    grid-area: img1;
    margin-left: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    place-content: center;
    grid-area: hero;
    color: var(--Very-Dark-Blue);
    gap: 1.5em;
}

.hero h1 {
    width: 92%;
    font-size: 2.2em;
    line-height: 1.5em;
}

.hero p {
    font-family: 'open sans', sans-serif;
    width: 89%;
    font-size: 1em;
}

.hero form {
    display: flex;
    gap: 1em;
}

input {
    font-size: .8em;
    padding: 1em;
    width: 50%;
}

button {
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    border-style: none;
    color: var(--Light-Grayish-Blue);
    background: var(--Bright-Blue);
    padding: 1em;
    font-size: .8em;
    width: 30%;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: linear 200ms;
}

button:hover {
    cursor: pointer;
    opacity: .8;
}


/* End Header Style */


/* Start Main Style */

main {
    background: url(/img/bg-curve-desktop.svg) no-repeat, url(./img/bg-curve-desktop.svg) no-repeat;
    background-size: 100%, cover;
    background-position: top, bottom -70px right 50%;
    padding-top: 8em;
}

.m-hero {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "offer img2" "review img2";
    padding: 5em 4em;
    gap: 2em;
}

.offer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    grid-area: offer;
}

.offer h1 {
    margin-bottom: 1em;
    font-family: 'raleway', sans-serif;
}

.offer a {
    font-family: 'open sans', sans-serif;
    color: var(--Moderate-Cyan);
    font-size: .9em;
    display: flex;
    gap: .5em;
    border-bottom: solid 1px var(--Moderate-Cyan);
    padding-bottom: .3em;
    text-decoration: none;
    width: 178px;
}

.offer a>img:hover {
    opacity: .7;
}

.review {
    display: flex;
    flex-flow: column;
    gap: 1em;
    background: #ffff;
    grid-area: review;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    width: 55%;
    padding: 2em;
    margin-top: 1em;
}

.dots {
    width: 15px;
    height: 15px;
}

figure {
    display: flex;
    gap: 1em;
}

figure img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.opinion {
    font-size: .8em;
    line-height: 1.6em;
}

.name {
    font-weight: 700;
    font-size: .65em;
}

.title {
    font-size: .5em;
}

.illustration2 {
    margin-left: auto;
    grid-area: img2;
    width: 75%;
    height: 80%;
}

.subscribe {
    background: #575989;
    padding: 6em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.s-text {
    display: flex;
    flex-flow: column;
    gap: 1.5em;
    width: 50%;
}

.s-text h2 {
    font-size: 1.8em;
    font-family: 'raleway', sans-serif;
    color: var(--Light-Grayish-Blue)
}

.s-text p {
    line-height: 1.5em;
    width: 85%;
    color: rgba(246, 246, 254, .8);
}

.subscribe form {
    display: flex;
    flex-flow: column;
    margin-right: 1em;
    gap: 1em;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
}

.subscribe input {
    padding: 1.2em;
    width: 500px;
    border-radius: 3px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.subscribe button {
    padding: 1.2em;
    width: 200px;
}

footer {
    padding: 4em;
    background: var(--Very-Dark-Blue);
    font-family: 'open sans', sans-serif;
}

.f-logo {
    width: 200px;
}

.nav-content {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}

.contact li {
    display: flex;
    gap: 1em;
}

.nav-content>ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    gap: 1em;
    width: 33%;
}

.navbar {
    max-height: 150px;
}

.navbar a {
    color: var(--Light-Grayish-Blue);
    text-decoration: none;
    margin-left: 2em;
}

.navbar a:hover {
    text-decoration: underline;
}

.nav-content>ul p {
    color: var(--Light-Grayish-Blue);
}

.socials {
    align-items: center;
}


/* End Footer Style */


/* Start Media Queries */

@media all and (min-width:316px) and (max-width:1200px) {
    header {
        display: grid;
        grid-template-columns: auto;
        padding: 1em;
        grid-template-areas: "hd" "img1" "hero";
    }
    .nav-bar img {
        width: 100px;
        height: 30px;
    }
    .nav-bar ul {
        gap: 1em;
    }
    .nav-bar a {
        font-size: .8em;
    }
    .illustration {
        width: 100%;
        margin: auto;
    }
    .hero {
        text-align: center;
    }
    .hero h1 {
        width: 100%;
        font-size: 1.5em;
    }
    .hero p {
        width: 100%;
        font-size: .9em;
    }
    .hero form {
        flex-flow: column;
    }
    input {
        width: 100%;
    }
    button {
        width: 100%;
    }
    main {
        background: url(./img/bg-curve-mobile.svg) no-repeat;
    }
    .m-hero {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: "img2" "offer" "review";
        padding: 1em;
        place-items: center;
    }
    .offer h1 {
        padding: 0em 1em;
        font-size: 1em;
        margin: auto;
        text-align: center;
    }
    .offer p {
        font-size: .9em;
        color: var(--Desaturated-Blue);
    }
    .illustration2 {
        margin: auto;
        width: 100%;
    }
    .offer a {
        align-self: center;
    }
    .review {
        width: 100%;
    }
    .subscribe {
        padding: 1em;
        flex-flow: column;
        text-align: center;
        align-items: center;
    }
    .s-text {
        width: 100%;
        padding: 1em;
    }
    .s-text h2 {
        font-size: 1.5em;
    }
    .s-text p {
        font-size: .9em;
        width: 100%;
    }
    .subscribe form {
        margin: auto;
        width: 80%;
    }
    .subscribe input {
        width: 100%;
    }
    .subscribe button {
        width: 100%;
    }
    footer {
        padding: 1em;
    }
    .f-logo {
        width: 100px;
    }
    .nav-content {
        width: auto;
        justify-content: flex-start;
        flex-flow: column;
        gap: 2em;
    }
    .nav-content>ul {
        width: 100%;
        flex-wrap: nowrap;
    }
    .navbar {
        height: auto;
    }
    .navbar a {
        margin: auto;
    }
    footer .socials {
        display: flex;
        flex-direction: row;
    }
}
